.main__form {
  border: 4px solid gray;
  border-radius: 24px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 24px 0;
  box-shadow: 2px 2px 8px lightslategray;
  padding: 2rem;
  max-width: 500px;
}

.main__form__fieldset {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__form_submit {
  width: 50%;
  max-width: 240px;
  padding: .5rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
}

.main__form_label {
  font-size: 1.5rem;
}

.moocow {
  opacity: 0;
  position: absolute;
  display: none;
}

@media only screen and (min-width: 1024px) {
 .main__form {
  width: 80%;
  margin: 1.25rem auto;
 }
}

@media only screen and (min-width: 1440px) {
  .main__form {
      width: 50%;
    }
}
