/* .container {
  background: #ddd;
} */

.header {
  width: 100%;
  padding: 1rem;
  color: gray;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.navbar {
  width: 100%;
  padding: .5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;
}

.navLinksLi {
  padding: .25rem;
  width: 100%;
}

.navLink {
  font-weight: 300px;
  font-size: 1rem;
  color: #663399;
  width: 100%;
  display: block;
}

.navLink:hover {
  background: gray;
  color: #fff;
}

.link {
  color: #8954A8;
  font-weight: bold;
}

.page {
  padding: .5rem;
  font-family: -apple-system,Roboto,sans-serif,serif;
}

.heading {
  font-size: 1.5rem;
}

.children {
  margin: .5rem 0;
}



/* Extra small mobile */
/* default */
/* @media only screen and (max-width: 320px) {

} */

/* Small mobile */
@media only screen and (min-width: 376px) {
  .header {
    font-size: 3rem;
  }
}

/* Medium mobile)*/
@media only screen and (min-width: 424px) {
  .navLinks {
    flex-direction: row;
  }
}


/* Large mobile */
@media only screen and (min-width: 768px) {
  .navbar {
    width: 80%;
    margin: 0 auto;
  }

  .heading {
    text-align: center;
  }
  .heading span {
    margin: 0 auto;
  }
}


/* Laptop  */
@media only screen and (min-width: 1024px) {
  .navbar {
    width: 60%
  }

  .children {
    width: 80%;
    margin: 0 auto;
  }

  .staticImg {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
  }
}


/* LaptopL Large */
@media only screen and (min-width: 1440px) {
  .navbar {
    width: 50%;
  }
}


/* Desktop devices & large screens */
/* @media only screen and (min-width: 2560px) {

} */

/* :root {
  --mobileS: 320px;
  --mobileM: 376px;
  --mobileL: 424px;
  --tablet:  768px;
  --laptop:  1024px;
  --laptopL: 1440px;
  --desktop: 2560px;
} */
.header {
  background: red;
}

@media only screen and (min-width: 320px) {
  .header {
    background: lightblue;
  }
}

@media only screen and (min-width: 376px) {
  .header {
    background: lightgreen;
  }
}

@media only screen and (min-width: 424px) {
  .header {
    background: lightcoral;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    background: lightpink;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    background: lightyellow;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    background: lightcyan;
  }
}

@media only screen and (min-width: 2560px) {
  .header {
    background: lightseagreen;
  }
}