.navbar {
  width: 100%;
  padding: .5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;
}

.navLinksLi {
  padding: .25rem;
  width: 100%;
}

.navLink {
  font-weight: 300px;
  font-size: 1rem;
  color: #663399;
  width: 100%;
  display: block;
}

.navLink:hover {
  background: gray;
  color: #fff;
}

@media only screen and (min-width: 424px) {
  .navLinks {
    flex-direction: row;
  }
}

/* Large mobile */
@media only screen and (min-width: 768px) {
  .navbar {
    width: 80%;
    margin: 0 auto;
  }
}

/* Laptop  */
@media only screen and (min-width: 1024px) {
  .navbar {
    width: 60%
  }
}


/* LaptopL Large */
@media only screen and (min-width: 1440px) {
  .navbar {
    width: 50%;
  }
}
