/* .container {
  background: #ddd;
} */

.header {
  width: 100%;
  padding: 1rem;
  color: gray;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.navbar {
  width: 100%;
  padding: .5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;
}

.navLinksLi {
  padding: .25rem;
  width: 100%;
}

.navLink {
  font-weight: 300px;
  font-size: 1rem;
  color: #663399;
  width: 100%;
  display: block;
}

.navLink:hover {
  background: gray;
  color: #fff;
}

.link {
  color: #8954A8;
  font-weight: bold;
}

.page {
  padding: 1rem;
  font-family: -apple-system,Roboto,sans-serif,serif;
}

.heading {
  font-size: 1.5rem;
}



/* Extra small mobile */
/* default */
/* @media only screen and (max-width: 320px) {

} */

/* Small mobile */
@media only screen and (min-width: 376px) {
  body {

    background: black;
  }

  .navbar {
    background: black;
  }
    .header {
      font-size: 3rem;
      background: lightgreen;
    }
}

/* Medium mobile)*/
@media only screen and (min-width: 424px) {
  body {

    background: red;
  }

  .navbar {
    background: red;
  }
}


/* Large mobile */
@media only screen and (min-width: 768px) {
  body {

    background: green;
  }

  .navbar {
    background: green;
  }
}


/* Laptop  */
@media only screen and (min-width: 1024px) {
  body {

    background: blue;
  }

  .navbar {
    background: blue;
  }
}


/* LaptopL Large */
@media only screen and (min-width: 1440px) {
  body {

    background: yellow;
  }

  .navbar {
    background: yellow;
  }
}


/* Desktop devices & large screens */
@media only screen and (min-width: 2560px) {
  body {

    background: pink;
  }

  .navbar {
    background: pink;
  }
}
