.card {
  padding: .5rem;
  border-radius: 25px;
  border: 1px solid black;
  width: 100%;
  max-width: 256px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  flex-wrap: wrap; */
}

.card__image {
  height: 100%;
  min-height: 100px;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
}

.card__chips {
  width: 100%;
  background-color: burlywood;
}

.card__btns {
  background-color: blueviolet;
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: space-evenly;
}

.card__btn {
  background: pink;
  padding: .5rem 1rem;
  border-radius: 16px;
}
.demo {
  background: blue;
}

.github {
  background: orange;
  padding: 50px;
}
