.cards {
  background-color: cadetblue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem;
}

.gallery {
  background-color: aquamarine;
  width: 100%;
}

.gallery__title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery__searchbar {
  max-width: 100%;
  display: block;
}

.gallery__chipbar {
  display: flex;
  background-color: blanchedalmond;
    /* overflow-y: auto; */
      /* overflow-x: hidden; */
      overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 376px) {
  .gallery__title {
      display: flex;
      justify-content: space-between;
    }
  
  .gallery__searchbar {
    max-width: 250px;
    display: block;
  }
}