.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery {
  width: 100%;
  height: 100%;
}

.gallery__title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery__searchbar {
  max-width: 100%;
  display: block;
}

.gallery__chipbar {
  display: flex;
  background-color: blanchedalmond;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
}

@media only screen and (min-width: 376px) {
  .gallery__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
  .gallery__searchbar {
    max-width: 250px;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 1rem;
  }
}
